@font-face{
  font-family: "Avenir";
  src: url('/fonts/Lyra/avenirnextregular.eot');
  src: url('/fonts/Lyra/avenirnextregular.eot?#iefix') format('embedded-opentype'),url('/fonts/Lyra/avenirnextregular.woff') format('woff'),url('/fonts/Lyra/avenirnextregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Avenir";
  src: url('/fonts/Lyra/avenirnextregularitalic.eot');
  src: url('/fonts/Lyra/avenirnextregularitalic.eot?#iefix') format('embedded-opentype'),url('/fonts/Lyra/avenirnextregularitalic.woff') format('woff'),url('/fonts/Lyra/avenirnextregularitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic
}

@font-face{
  font-family: "Avenir";
  src: url('/fonts/Lyra/avenirnextmedium.eot');
  src: url('/fonts/Lyra/avenirnextmedium.eot?#iefix') format('embedded-opentype'),url('/fonts/Lyra/avenirnextmedium.woff') format('woff'),url('/fonts/Lyra/avenirnextmedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: "Avenir";
  src: url('/fonts/Lyra/avenirnextdemibold.eot');
  src: url('/fonts/Lyra/avenirnextdemibold.eot?#iefix') format('embedded-opentype'),url('/fonts/Lyra/avenirnextdemibold.woff') format('woff'),url('/fonts/Lyra/avenirnextdemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-family: "Avenir";
  src: url('/fonts/Lyra/avenirnextdemibolditalic.eot');
  src: url('/fonts/Lyra/avenirnextdemibolditalic.eot?#iefix') format('embedded-opentype'),url('/fonts/Lyra/avenirnextdemibolditalic.woff') format('woff'),url('/fonts/Lyra/avenirnextdemibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face{
  font-family: "Avenir";
  src: url('/fonts/Lyra/avenirnextbold.eot');
  src: url('/fonts/Lyra/avenirnextbold.eot?#iefix') format('embedded-opentype'),url('/fonts/Lyra/avenirnextbold.woff') format('woff'),url('/fonts/Lyra/avenirnextbold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}