/**********
* Sparkbar
*/

.nvd3.nv-sparkbar path {
  fill: none;
}

.nvd3.nv-sparkbarplus g.nv-hoverValue {
  pointer-events: none;
}

.nvd3.nv-sparkbarplus .nv-hoverValue line {
  stroke: #333;
  stroke-width: 1.5px;
 }

.nvd3.nv-sparkbarplus,
.nvd3.nv-sparkbarplus g {
  pointer-events: all;
}

.nvd3 .nv-hoverArea {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.nvd3.nv-sparkbarplus .nv-xValue,
.nvd3.nv-sparkbarplus .nv-yValue {
  stroke-width: 0;
  font-size: .9em;
  font-weight: normal;
}

.nvd3.nv-sparkbarplus .nv-yValue {
  stroke: #f66;
}

.nvd3.nv-sparkbarplus .nv-maxValue {
  stroke: #2ca02c;
  fill: #2ca02c;
}

.nvd3.nv-sparkbarplus .nv-minValue {
  stroke: #d62728;
  fill: #d62728;
}

.nvd3.nv-sparkbarplus .nv-currentValue {
  font-weight: bold;
  font-size: 1.1em;
}
.nvd3.nv-sparkbarplus .nv-bar .positive {
  fill: #666688;

}
.nvd3.nv-sparkbarplus .nv-bar .negative {
  fill: #8899bb;
}
